# Python virtual environment
venv/
env/
ENV/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
.genomes/sacCer3/sacCer3.fa
.genomes/sacCer3/sacCer3.fa.fai
.genomes/sacCer3/sacCer3.fa.sizes
.genomes/sacCer3/sacCer3.gaps.bed
.genomes/sacCer3/assembly_report.txt

# figures
figures